<template>
    <div>
        <q-drawer content-class="test"
                  :content-style="test"
                  other="test">
                  <div>test</div>
        </q-drawer>
        <aside>
            <div data-some="val">
                <q-dialog content-class="test"
                        :content-style="test"
                        other="test">
                        <div>test</div>
                </q-dialog>
            </div>
        </aside>
        <q-menu content-class="test"
                :content-style="test"
                other="test">
                  <div>test</div>
        </q-menu>
        <q-tooltip content-class="test"
                   :content-style="test"
                   other="test">
                <div>test</div>
        </q-tooltip>
        <q-breadcrumbs-el stuff="test" :append="some" />
        <q-chat-message :label-sanitize="some"
                        :name-sanitize="some"
                        :text-sanitize="some"
                        :stamp-sanitize="some"
                        :other="some" />
        <q-expansion-item stuff="test" append="some" />
        <q-scroll-area horizontal other="true">test</q-scroll-area>
        <q-table :data="tableData"
                 :pagination.sync="varName"
                 :selected.sync="varName"
                 :expanded.sync="varName" />
        <div style="background: blue">
            <q-tree v-bind:data="tableData"
                    v-bind:pagination.sync="other"
                    v-bind:selected.sync="other"
                    v-bind:expanded.sync="other" />
        </div>
        <div class="some">
            <q-img basic other="some" no-default-spinner>test</q-img>
        </div>
        <q-uploader-base>component removed</q-uploader-base>
        <div v-on:click.native="handleNativeClickEvent">.native was removed</div>
    </div>
</template>
<script>
Vue.prototype.$test = 'value';

export default {
    name: 'DeprecatedComponent'
}
</script>
